<html>
	<head>
		<script type="text/javascript">
var shouldClearCookies = "<%= SiteSettings.enhancedlogout_shouldClearCookies -%>";
var shouldClearBrowserSessionHistory = "<%= SiteSettings.enhancedlogout_shouldClearBrowserSessionHistory -%>";
var shouldRedirect = "<%= SiteSettings.enhancedlogout_shouldRedirect -%>";
var redirectUrl = "<%= SiteSettings.enhancedlogout_redirectUrl -%>";
console.log("available variables:",shouldClearCookies,shouldClearBrowserSessionHistory,shouldRedirect,redirectUrl);
		</script>
	</head>
	<body>
		<h2>Enhanced Logout</h2>
		<%= SiteSettings.enhancedlogout_customLogoutPageHtml %>
	</body>
</html>
